.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./img/img1.jpg');
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
}

body {
  background-color: white;
}

#slide {
  /* width: 100%;
  height: 40vh;
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
  backface-visibility: hidden;
  animation: slide normal 90s;
  animation-timing-function: ease-in-out;
  background-image: url('./img/img1.jpg'); */
  background-color: rgba(0, 0, 0, 0.25);
}

/* @keyframes slide {
  0% {
    background-image: url('./img/img1.jpg');
  }

  10% {
    background-image: url('./img/img2.jpg');
  }

  20% {
    background-image: url('./img/img3.jpg');
  }

  30% {
    background-image: url('./img/img4.jpg');
  }

  40% {
    background-image: url('./img/img5.jpg');
  }

  50% {
    background-image: url('./img/img6.jpg');
  }

  60% {
    background-image: url('./img/img7.jpg');
  }

  70% {
    background-image: url('./img/img8.jpg');
  }

  80% {
    background-image: url('./img/img9.jpg');
  }

  90% {
    background-image: url('./img/img10.jpg');
  }

  100% {
    background-image: url('./img/img10.jpg')
  }
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  cursor: pointer;
}

.btn2 {
  cursor: grab;
}

.title {
  font-size: 70px;
  font-weight: bold;
  text-decoration: none;
  /* display: block; */
  margin-bottom: 50px;
  /* background-color: black; */
  /* padding: 50px; */
  text-align: left;
  /* color: black; */
  color: white;
  /* background-color: rgba(255, 255, 255, 0.5); */
  width: 125px;
  /* height: 10vh; */
  align-items: center;
  margin: auto;
  /* border-radius: 50px; */
  cursor: pointer;
}


.review {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration:none;
  display:block;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: black;
  line-height: 50px;
  color:white;
  height: 50px;
}

/* .flex_container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  width: auto;
} */

.flex_container {
  /* /* /* /* /* margin: 10px;
  text-decoration: none; */
  /* background: #678D58; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 35px 0;
  margin: auto;
  width: 85%;

}

.navbar {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  /* padding: 0;
  text-align: center; */
  color: white;
  text-decoration: none;
  /* font-size: 23px;
  font-weight: bold;
  position: relative;
  padding-right: 100px; */
  text-transform: uppercase;
}

/* .navbar a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
} */



/* //////////new//////////////// */
.property-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.individual-property-box {
  text-decoration: none;
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  border: 3px solid #ccc;
  text-align: center;
  position: relative;
  background-color: white;
}

/* border turns green when hover  */
.individual-property-box:hover {
  border-color: #678d58;
  box-shadow: 0 1px 4px rgba(103, 141, 88, 0.3);
}

.name-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: black
}

.address {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: black
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.like-button {
  cursor: pointer;

  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  ;
}


/* turns black when you hover: */
.like-button:hover {
  background-color: #678D58;
  color: #fff;
}

.book-button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  max-width: 120px;
  margin: auto;
  ;

}

.book-button:hover {
  background-color: #678D58;

}

.my-btns {
  display: flex;
}

.property-image {
  position: static;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}



.personal-account {
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  text-align: center;
  position: relative;
  background-color: white;
}


/* ///////
current property page: */
.current-card-container{
  text-decoration: none;
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  border: 3px solid #ccc;
  text-align: center;
  position: relative;
  background-color: white;
  margin:auto

}
.current-title-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color:black;
  font-size: 32px;
  margin-bottom: 10px;

}

.current-title-address{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.current-title-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.btn{
  background-color:black;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  max-width: 120px;
  margin: auto;
 ;

}
.btn2{
  cursor: pointer;

  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;

}
/* .property-details-image {
  flex-basis: 50%;
}

.property-details-image img {
  width: 100%;
  height: auto;
} */



.review-header{
  font-size: 28px;
  margin-bottom: 20px;

}
.leave-review{
  flex-basis: 90%;
  padding: 0 20px;
  box-sizing: border-box;
  color: #678D58;
  font-size:30px
}

.form-style-6{
  background-color: pink;
 
}

.search_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.user-name-for-review{
  margin-top: 50px;
  font-size: 20px

}
.review-written{
  font-size: 25px;
  margin-bottom: 20px;
}


.posted-reviews-container{
 padding-top: 10px;
 padding-bottom:10px;
 
}

